{% extends "base.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block script %}
<script src="{{url_for('static', filename='scripts/form.js')}}" async></script>
<script src="{{url_for('static', filename='scripts/sidebar.js')}}" async></script>
{% endblock %}

{% block style %}
<link href="{{url_for('static', filename='styles/form.css')}}" type="text/css" rel="stylesheet">
<link href="{{url_for('static', filename='styles/sidebar.css')}}" type="text/css" rel="stylesheet">
{% endblock %}

{% block main %}





<!-- page Content -->
<div id="page-content-wrapper">
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <i class="fa fa-expand" id="menu-toggle" aria-hidden="true"></i>
            </a>
            <span class="icon-bar"><small><i class="fa fa-user"></i> Welcome, {{ username }}!</small></span>
            <span class="icon-bar"><a href="{{ url_for('logout') }}">Logout</a>
        </div>
    </nav>
    <!-- main form -->
    <form id="regForm" action="/" method="post">

        <div class="tab">
            <h1>Some basic information</h1>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Dog's Name</label>
                <input type="text" class="form-control" name="dog-name" placeholder="Moo">
            </div>
            <label for="select-age" class="form-label">Dog's Age</label>
            <select class="form-select form-select mb-3" name="dog-age" id="select-age"
                aria-label=".form-select-lg example">
                <option selected value="age_puppy">Under 1 year old</option>
                <option value="age_adult">1 - 7 years old</option>
                <option value="age_elder">7 + years old</option>
            </select>
            <label for="exampleDataList" class="form-label">Breed</label>
            <input class="form-control" list="breed-options" name="dog-breed" id="dog-breed"
                placeholder="Type to search...">
            <datalist id="breed-options">
                <!-- dynamically created -->
            </datalist>
        </div>

        <div class="tab">
            <h1>What shape is your dog?</h1>
            <div class="container-fluid">
                <div class="row d-flex justify-content-around">
                    <div class="col d-flex justify-content-start">
                        <img src="../static/image/dog-very-thin.svg" class="img-fluid" />
                    </div>
                    <div class=" col">
                        <img src="../static/image/dog-thin.svg" class="img-fluid" />
                    </div>
                    <div class="col">
                        <img src="../static/image/dog-ideal.svg" class="img-fluid" />
                    </div>
                    <div class="col">
                        <img src="../static/image/dog-overweight.svg" class="img-fluid" />
                    </div>
                    <div class="col">
                        <img src="../static/image/dog-obese.svg" class="img-fluid" />
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <input type="range" class="form-range" name="dog-shape" min="1" max="5" step=".5"
                            id="dog-shape">
                    </div>
                </div>
            </div>
        </div>

        <div class="tab">
            <h1>How active is your dog?</h1>
            <select class="form-select form-select-lg" size="5" name="dog-activity" aria-label="activity select">
                <option value="1">Family pet, inactive</option>
                <option value="1.6">Family pet, active</option>
                <option value="2">Light working (eg emotional support dog, seeing eye dog)</option>
                <option value="3">Moderate working (eg agility training, hunting)</option>
                <option value="5">Heavy working (eg military working dog,farming)</option>
            </select>
        </div>


        <div class="tab">
            <h1 id="display-weight">Dog's current weight: 64LBS</h1>
            <input type="range" class="form-range" name="dog-weight" min="10" max="120" id="dog-weight">
        </div>

        <div style="overflow:auto;">
            <div style="float:right;">
                <button class="btn mt-3" type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
                <button class="btn mt-3" type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
            </div>
        </div>

        <!-- Circles which indicates the steps of the form: -->
        <div style="text-align:center;margin-top:40px;">
            <span class="step"></span>
            <span class="step"></span>
            <span class="step"></span>
            <span class="step"></span>
        </div>

    </form>
</div>
<!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->






{% endblock %}