{% extends "base.html" %}

{% block title %}
Register
{% endblock %}

{% block style %}
<link href="{{url_for('static', filename='styles/login.css')}}" type="text/css" rel="stylesheet">
<link href="{{url_for('static', filename='styles/form.css')}}" type="text/css" rel="stylesheet">

{% endblock %}

{% block main %}

<div class="container h-100 mt-5 pt-5">
    <div class="d-flex justify-content-center h-100">
        <div class="user_card">
            <div class="d-flex justify-content-center">
                <div class="brand_logo_container">
                    <img src="../static/image/fatdog.svg" class="brand_logo" alt="fatdog">
                </div>
            </div>
            <div class="d-flex justify-content-center form_container">


                <form method="post" action="/register">
                    {{ form.csrf_token }}
                    <div class="input-group mb-3">
                        <h5>Register</h5>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text bg-purple"><i class="fa fa-user"></i></span>
                        {{ form.username(class_="form-control input_user", placeholder="username") }}
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text bg-purple"><i class="fa fa-key"></i></span>
                        {{ form.password(class_="form-control input_pass", placeholder="password") }}
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text bg-purple"><i class="fa fa-key"></i></span>
                        {{ form.confirm_password(class_="form-control input_pass", placeholder="confirm password") }}
                    </div>



                    <div class="d-flex justify-content-center mt-3 login_container">
                        {{ form.submit(class_="btn login_btn") }}
                    </div>

                    <div class="col-12 mt-2 text-center links small">
                        Already registered? <a href="{{ url_for('login') }}" class="ml-2">Log in</a>
                    </div>
                </form>

            </div>


        </div>
    </div>
    <div class="d-flex mt-5 justify-content-center">


        {% if form.username.errors %}
        {% for error in form.username.errors %}
        <div class="alert alert-primary fade show w50 alert-dismissible" role="alert">
            {{ error }}

            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
        {% endif %}

        {% if form.password.errors %}
        {% for error in form.password.errors %}
        <div class="alert alert-primary fade show w50 alert-dismissible" role="alert">
            {{ error }}

            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
        {% endif %}

        {% if form.confirm_password.errors %}
        {% for error in form.confirm_password.errors %}
        <div class="alert alert-primary fade show w50 alert-dismissible" role="alert">
            {{ error }}

            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
        {% endif %}

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-primary fade show w50 alert-dismissible" role="alert">
            <strong>{{ message }}</strong>

            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>

        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
</div>

{% endblock %}