:root {
  --purple: #620bee;
  --darkgreen: #008265;
  --green: #03dac6;
  --lightgreen: #03dac622;
}

#regForm {
  background-color: #ffffff;
  margin: 100px auto;
  padding: 40px;
  width: 80%;
  min-width: 300px;
}

input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
}

input.invalid {
  background-color: #ffdddd;
}

.tab {
  display: none;
}

.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: var(--lightgreen);
  border: none;
  border-radius: 50%;
  display: inline-block;
}

.step.active {
  opacity: 1;
  background-color: var(--purple);
}

.step.finish {
  background-color: var(--green);
}
