:root {
  --purple: #620bee;
  --darkgreen: #008265;
  --green: #03dac6;
  --lightgreen: #03dac622;
}

#regForm {
  background-color: #ffffff;
  margin: 100px auto;
  padding: 40px;
  width: 80%;
  min-width: 300px;
}

input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
}

input.invalid {
  background-color: #ffdddd;
}

.tab {
  display: none;
}

.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: var(--lightgreen);
  border: none;
  border-radius: 50%;
  display: inline-block;
}

.step.active {
  opacity: 1;
  background-color: var(--purple);
}

.step.finish {
  background-color: var(--green);
}
/* 
.title {
  font-size: 1.7rem;
  color: #5f6988;
  font-weight: 300;
  border-bottom: 1px solid #dbe3ec;
  padding-bottom: 5px;
  margin: 0 0 40px 0;
}

label {
  font-size: 0.9em;
  color: #5f6988;
  margin-bottom: 3px;
  display: block;
  font-weight: 300;
}

input,
textarea,
select {
  padding: 10px 13px;
  margin-bottom: 15px;
  width: -webkit-fill-available;
  border-radius: 2px;
  border: 1px solid #d4d9e3;
  font-weight: 200;
  color: #4d5060;
  font-family: "Poppins", sans-serif;
  transition: all 0.3s ease-out;
  font-size: 0.9em;
  outline-color: transparent;
  outline-style: none;
}

select {
  -webkit-appearance: none;
}

select::after {
  content: "hello";
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  display: block;
  border-top: 20px solid #f00;
}

input[type="text"]::placeholder {
  color: #d4d9e3;
}

input[type="text"]:hover,
input[type="password"]:hover,
textarea:hover,
select:hover {
  border-color: #5eb9d7;
  background: #d9f6ff;
}

input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus {
  background: white;
  border-color: #5eb9d7;
  box-shadow: unset;
}

input[type="submit"] {
  background: #5eb9d7;
  border: 0;
  color: white;
  border-radius: 2px;
  margin-top: 15px;
  font-weight: 400;
  border: 1px solid #5eb9d7;
  transition: all 0.3s ease-out;
}

input[type="submit"]:hover {
  cursor: pointer;
  background: white;
  color: #5eb9d7;
}
 */
